* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black !important;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.controls {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

button {
    background-color: #66676e;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.disabled {
    color: white;
    font-weight: bold;
}

.stats {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.board-container {
    position: relative;
}

.board, .win {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 0 25px 50px rgb(33, 33, 33 / 25%);
    background: linear-gradient(125deg, #03001e 0%, #7303c0 30%, #ec38bc 70%, #fdeff9 100%);
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    -webkit-transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    -moz-transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    -ms-transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    -o-transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.board {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
}

.board-container.flipped .board {
    transform: rotateY(180deg) rotateZ(50deg);
    -webkit-transform: rotateY(180deg) rotateZ(50deg);
    -moz-transform: rotateY(180deg) rotateZ(50deg);
    -ms-transform: rotateY(180deg) rotateZ(50deg);
    -o-transform: rotateY(180deg) rotateZ(50deg);
}

.board-container.flipped .win {
    transform: rotateY(0) rotateZ(0);
}

.card {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.card-front,
.card-back {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background: #282A3A;
    transition: transform .6s cubic-bezier(0.4, 0.0, 0.2, 1);
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg) rotateZ(50deg);
    font-size: 28pt;
    user-select: none;
    text-align: center;
    line-height: 100px;
    background: #FDF8E6;
}

.card.flipped .card-front {
    transform: rotateY(180deg) rotateZ(50deg);
}

.card.flipped .card-back {
    transform: rotateY(0) rotateZ(0);
}

.win {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #FDF8E6;
    transform: rotateY(180deg) rotateZ(50deg);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Optional, to adjust font size */
    font-weight: bold;
}

.highlight {
    color: #7303c0;
}